# Server configuration
PORT=8000
HOST=0.0.0.0
DEBUG=True
ENVIRONMENT=development

# Database
DATABASE_URL=postgresql://user:password@db:5432/mydatabase

# Face verification settings
FACE_VERIFICATION_THRESHOLD=0.4
FACE_VERIFICATION_INTERVAL=30
FACE_DETECTION_MODEL=opencv
FACE_RECOGNITION_MODEL=Facenet

# Audio settings
USE_WHISPER=False
WHISPER_MODEL=small
VOSK_MODEL_PATH=./models/vosk-model-en-us-small

# WebRTC
STUN_SERVER=stun:stun.l.google.com:19302
TURN_SERVER=
TURN_USERNAME=
TURN_PASSWORD=

# Redis (for async tasks)
REDIS_URL=redis://redis:6379/0

# AI model settings
GROQ_API_KEY=your_groq_api_key_here
LLM_MODEL=groqapi
SERPER_AI_KEY = e92edcc2cd3ee13129db6fe3aec941cf46f696aa
OPENAI_API_KEY = your_openai_api_key_here